#id_div_box_info_peli {
/*            border          : 1px solid #ddd; */
    margin-bottom   : 5px; 
    width           : 100%; 
    height          : 100%; 
    flex            : 65%;  
    display         : flex; 
    flex-flow       : column; 
}
        
#id_div_box_info_peli_titol {
    order       : 1; 
/*            border      : 1px solid #aaa; */
    width       : 100%; 
    flex        : 07%; 
    min-height  : 35px; 
    position    : relative;
}

#id_div_box_info_peli_nom  { position: absolute; bottom: 12px; left:  5px; font-size: 14pt; }
#id_div_box_info_peli_menu { position: absolute; bottom: 7px; right: 5px; }

#id_div_box_info_peli_cont {
    order       : 2; 
    border      : 1px solid #999; 
    background-color: rgb(255, 255, 204);
    width       : 100%; 
    flex        : 90%; 
    display     : flex; 
    flex-flow   : row; 
    padding     : 10px;
}


#id_div_box_info_peli_caratula {
    border  : 1px solid #555;
    background-size: cover;
    background-position: center center;
    flex: 100%;
}

#id_div_box_info_peli_left {
/*            border      : 1px solid #0a0;*/
    flex        : 50%; 
    max-width   : 250px; 
    max-height  : 350px; 
    display     : flex;
}

#id_div_box_info_peli_right {
/*            border  : 1px solid #0a0; */
    flex    : 50%; 
    padding : 10px;
}


#id_div_box_info_peli_bottom {
    border : 1px solid #aaa; 
    background-color: rgb(255, 255, 204);
    width:  100%; 
    height: 100%; 
    flex: 35%;
}